h1, h2{
    color: #05386b;
    font-weight: 1000;
}

h1 {
    text-align: center;
}

* {
    font-family: "Garamond", sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid #05386b;
}

.button{
    display: inline-block;
    font-size: large;
    border: 8px;
    padding: 20px;
    list-style: none;
    background-color: white;
    margin: 10px 225px;
    color: white;

}

html{
    background-color: #5cdb95;
    color: white;
}

.para{
    text-align: center;
}